div{
    width: 50px;
    height: 50px;
    background-color:brown;
    border: 2px solid black;
    margin: 50px;
}
#div7{
    position: fixed;
    left: 30px;
}
#div2{
    position: relative;
    left: 30px;
}
#div3{
    position: sticky;
    left: 30px;
}