#f1{
    background-color:aliceblue;
    text-align: center;
    background-image:url(oip.jpeg);
  

}
   
#f2{
    text-align: center;
}
#f3{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}

#f4{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}


#f5{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}


#f6{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;

}
#f7{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;

}
#f8{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    
    

}
#f9{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
    

}
#f10{
    border-color: rgb(63, 14, 197);
    border-radius: 30px;
    text-align: center;
}
#f11{
    background-color: rgb(54, 73, 241);
    border-radius: 20px;
    font-size: 40px;
}
    