div{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: blue;
    transition: 10s;
    border-radius: 50px 20px 20px 100px;
}
#div1{
    width: 200px;
    height: 200px;
    
}
#div2{
    border: 10px solid black;
    width: 500px;
}
#div3:hover{
    border: 10px solid black;
    width: 500px;
}
#div3{
    margin-left: 300px;
    transform: scale(3);
    
}
